@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Cascadia Code';
    src: url('assets/fonts/CascadiaCode.woff2');
}

* {
    font-family: 'Cascadia Code';
}

a.active {
    @apply underline underline-offset-4;
}

a.brand {
    @apply no-underline;
}
